.main{
    padding: 4px 12px;
    border-right: 1px solid var(--EditorOutlineColor);
    font-size: small;
    font-family: 'Poppins', serif;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.main:hover{
    background: #111;
}

.active{
    color: white !important;
    background: #111 !important;
}

.main .icon{
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .icon span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main > span{
    text-wrap: nowrap;
}

.main button{
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    height: inherit;
    padding: inherit 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main:hover button{
    color: #7b7b7b;
}

.main .btnActive{
    color: inherit !important;
}