@import "monaco-editor/min/vs/editor/editor.main.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --EditorBackgroundColor: #1e1e1e;
    --EditorForegroundColor: #d4d4d4;
    --ActivityBarBackground: #171717;
    --EditorOutlineColor: rgba(156, 156, 156, 0.2);
}

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 33px 1fr 25px;
    background: var(--ActivityBarBackground);
    color: var(--EditorForegroundColor);
    user-select: none;
}


/* ============ Top Menu Bar Start ============ */

.app .top {
    width: 100vw;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    background: var(--ActivityBarBackground);
    color: var(--EditorForegroundColor);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-bottom: 1px solid var(--EditorOutlineColor);
}

.app .top .logo {
    height: 35px;
    color: #007ACC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 12px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.app .top .logo img{
    height: 60%;
}

.app .top nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.app .top nav span{
    margin-right: 20px; 
}

.app .top nav span a{
    color: rgb(191, 184, 231);
}

.app .top .navList {
    display: flex;
    list-style: none;
    font-size: 100%;
    font-family: 'Segoe UI', sans-serif;
}

.app .top .navList li{
    position: relative;
    margin: 0 1px;
    display: flex;
    height: 100%;
}

.app .top .navList li button{
    background: inherit;
    color: inherit;
    border: none;
    outline: none;
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: inherit;
}

.app .top .navList li button:hover{
    background: #333;
    border-radius: 5px;
}

.app .top .navList li .menu{
    position: absolute;
    top: 23px;
    width: 200px;
    background: #141414;
    color: #d4d4d4;
    border-radius: 5px;
    border: 1px solid rgba(156, 156, 156, 0.3);
    display: none;
}

.navTabActive>button{
    background: #333 !important;
    border-radius: 5px !important;
}

.navTabActive>.menu{
    display: block !important;
}

.app .top .navList li .menu .group{
    padding: 3px 0px;
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}

.app .top .navList li .menu .group .row{
    padding: 3px 10px;
    font-size: 13px;
}

.app .top .navList li .menu .group .row:hover{
    background: #007ACC;
}

/* ============ Top Menu Bar End ============ */


/* ========== Middle Section Start ========== */

.app>.middle {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
}


/* ========== Left Side Menu Start ========== */

.app>.middle .left{
    width: 100%;
    height: calc( 100vh - 33px - 25px);
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-content: center;
}


.app>.middle .left ::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: transparent;
    opacity: 0;
}

.app>.middle .left :hover::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: transparent;
    opacity: 1;
}

.app>.middle .left :hover::-webkit-scrollbar-thumb{
    width: 10px;
    height: 10px;
    background: rgba(140, 140, 140, 0.5);
}


.app>.middle .left nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: var(--ActivityBarBackground);
    color: var(--EditorForegroundColor);
    border-top: 1px solid var(--EditorOutlineColor);
    border-right: 1px solid var(--EditorOutlineColor);
}

.app>.middle .left nav .leftTop {
    margin-top: 10px;
}

.app>.middle .left nav .leftBottom {
    margin-bottom: 10px;
}

.app>.middle .left nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app>.middle .left nav ul li {
    width: 100%;
    height: 100%;
    font-size: x-large;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    cursor: pointer;
}

.app>.middle .left nav ul li:hover {
    color: var(--EditorForegroundColor);
}

.app>.middle .left nav ul .active {
    color: var(--EditorForegroundColor);
}

/* ========== Left Side Menu End ========== */


.app>.middle>.right {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--EditorOutlineColor);
    display: grid;
    grid-template-rows: auto 1fr;
}

.app>.middle>.right .navigation {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--EditorOutlineColor);
}

.app>.middle>.right .navigation .files,
.features {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.app>.middle>.right .navigation .files {
    overflow-x: auto;
}

.app>.middle>.right .navigation .files:hover {
    overflow-x: auto;
}

.app>.middle>.right .navigation .files::-webkit-scrollbar {
    height: 2px;
}

.app>.middle>.right .navigation .files::-webkit-scrollbar-thumb {
    height: 2px;
    background: linear-gradient(to right, rgba(238, 130, 238, 0.5), rgba(255, 255, 0, 0.5));
    transition: 0.3s;
}

@keyframes scrollBarAnimation {
    from {
        background: transparent;
    }

    to {
        background: rgba(156, 156, 156, 0.6);
    }
}

.app>.middle>.right .navigation .features {
    width: 100px;
}

.app>.middle>.right .navigation .features button {
    border: none;
    outline: none;
    background: transparent;
    padding: 4px;
    color: var(--EditorForegroundColor);
}

.app>.middle>.right .bottom {
    width: 100%;
    height: 100%;
}


/* ============ Bottom Bar Start ============ */
.app > .bottom{
    width: 100%;
    height: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app > .bottom .left, .right{
    display: flex;
}

.app > .bottom .left .remote{
    background: #007ACC;
    color: #eee;
    font-size: medium;
    height: inherit;
}

.app > .bottom span{
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}