* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --EditorBackgroundColor: #1e1e1e;
    --EditorForegroundColor: #d4d4d4;
    --ActivityBarBackground: #171717;
    --EditorOutlineColor: rgba(156, 156, 156, 0.2);
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 33px 1fr 25px;
    background: var(--ActivityBarBackground);
    color: var(--EditorForegroundColor);
    user-select: none;
}


/* ============ Top Menu Bar Start ============ */

.main .top {
    width: 100vw;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    background: var(--ActivityBarBackground);
    color: var(--EditorForegroundColor);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-bottom: 1px solid var(--EditorOutlineColor);
}

.main .top .logo {
    height: 35px;
    color: #007ACC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 12px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.main .top .logo img{
    height: 60%;
}

/* .main .top .logo svg {
    transform: translateY(2px);
} */

.main .top ul {
    display: flex;
    list-style: none;
    font-size: 100%;
    font-family: 'Segoe UI', sans-serif;
}

.main .top ul li {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============ Top Menu Bar End ============ */


/* ========== Middle Section Start ========== */

.main>.middle {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
}


/* ========== Left Side Menu Start ========== */

.main>.middle .left{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-content: center;
}

.main>.middle .left nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: var(--ActivityBarBackground);
    color: var(--EditorForegroundColor);
    border-top: 1px solid var(--EditorOutlineColor);
    border-right: 1px solid var(--EditorOutlineColor);
}

.main>.middle .left nav .leftTop {
    margin-top: 10px;
}

.main>.middle .left nav .leftBottom {
    margin-bottom: 10px;
}

.main>.middle .left nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main>.middle .left nav ul li {
    width: 100%;
    height: 100%;
    font-size: x-large;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    cursor: pointer;
}

.main>.middle .left nav ul li:hover {
    color: var(--EditorForegroundColor);
}

.main>.middle .left nav ul .active {
    color: var(--EditorForegroundColor);
}

/* ========== Left Side Menu End ========== */


.main>.middle>.right {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--EditorOutlineColor);
    display: grid;
    grid-template-rows: auto 1fr;
}

.main>.middle>.right .navigation {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--EditorOutlineColor);
}

.main>.middle>.right .navigation .files,
.features {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.main>.middle>.right .navigation .files {
    /* width: calc(100vw - 200px); */
    overflow-x: auto;
}

.main>.middle>.right .navigation .files:hover {
    overflow-x: auto;
}

.main>.middle>.right .navigation .files::-webkit-scrollbar {
    height: 2px;
}

.main>.middle>.right .navigation .files::-webkit-scrollbar-thumb {
    height: 2px;
    /* animation: scrollBarAnimation 0.5s linear; */
    /* background: rgba(156, 156, 156, 0.6); */
    background: linear-gradient(to right, rgba(238, 130, 238, 0.5), rgba(255, 255, 0, 0.5));
    /* background-size: 200% 0;
    background-position: 100% 0; */
    transition: 0.3s;
}

@keyframes scrollBarAnimation {
    from {
        background: transparent;
    }

    to {
        background: rgba(156, 156, 156, 0.6);
    }
}

.main>.middle>.right .navigation .features {
    width: 100px;
}

.main>.middle>.right .navigation .features button {
    border: none;
    outline: none;
    background: transparent;
    padding: 4px;
    color: var(--EditorForegroundColor);
}

.main>.middle>.right .bottom {
    width: 100%;
    height: 100%;
}


/* ============ Bottom Bar Start ============ */
.main > .bottom{
    width: 100%;
    height: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main > .bottom .left, .right{
    display: flex;
}

.main > .bottom .left .remote{
    background: #007ACC;
    color: #eee;
    font-size: medium;
    height: inherit;
}

.main > .bottom span{
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}